*.class
.mtj.tmp/
*.jar
*.war
*.ear
.settings
target
.classpath
.project
.idea
.DS_Store
*.iml
.springBeans
*/bin
*/test-output
*.bak
hs_err_pid*
node
node_modules
etc
.tmp
dist
bower_components
/mysql
/pgdata
/sources/rapid-dbaccess/test-output
/sources/rapid-services/test-output
/sources/argon-conf/.project
/sources/argon-conf/.classpath
/sources/argon-dbaccess/.project
/sources/argon-dbaccess/test-output
/sources/argon-dbaccess/.classpath
/sources/argon-client/com
/sources/argon-ws/phantomjs*
