<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.argon.dbaccess.dao.mysql.BlacklistDAO">

	<insert id="createBlacklist" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO argon.BLACKLIST (USER_ID, CHAT_ID)
			VALUES (
				#{userId},
				#{chatId}
			)
		]]>
	</insert>

	<sql id="getBlacklist">
		<![CDATA[
			SELECT
				BL.ID AS BLACKLIST_ID,
				BL.CREATED_AT AS BLACKLIST_CREATED_AT,
				BL.MODIFIED_AT AS BLACKLIST_MODIFIED_A,
				BL.USER_ID AS BLACKLIST_USER_ID,
				BL.CHAT_ID AS BLACKLIST_CHAT_ID
			FROM argon.BLACKLIST BL
		]]>
	</sql>

	<select id="getBlacklistById" resultMap = "BlacklistResultMap">
		<include refid="getBlacklist" />
		<![CDATA[
			WHERE BL.ID = #{id}
		]]>
	</select>

	<select id="getBlacklistsByUserId" resultMap = "BlacklistResultMap">
		<include refid="getBlacklist" />
		<![CDATA[
			WHERE BL.USER_ID = #{userId}
		]]>
	</select>

	<select id="getBlacklistsByChatId" resultMap = "BlacklistResultMap">
		<include refid="getBlacklist" />
		<![CDATA[
			WHERE BL.CHAT_ID = #{chatId}
		]]>
	</select>

	<select id="getBlacklistByUserIdAndChatId" resultMap = "BlacklistResultMap">
		<include refid="getBlacklist" />
		<![CDATA[
			WHERE BL.CHAT_ID = #{chatId} and BL.USER_ID=#{userId}
		]]>
	</select>

	<update id="updateBlacklist">
		<![CDATA[
			UPDATE argon.BLACKLIST B
			SET
				USER_ID = #{userId},
				CHAT_ID = #{chatId}
			WHERE B.ID = #{id}
		]]>
	</update>

	<sql id="deleteBlacklist">
		<![CDATA[
			DELETE
			FROM argon.BLACKLIST 
		]]>
	</sql>

	<delete id="deleteBlacklistById">
		<include refid="deleteBlacklist" />
		<![CDATA[
			WHERE BLACKLIST.ID = #{id}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.argon.models.db.Blacklist" id="BlacklistResultMap" autoMapping="true">
		<id column="BLACKLIST_ID" property="id" />
		<result column="BLACKLIST_CREATED_AT" property="createdAt" />
		<result column="BLACKLIST_MODIFIED_AT" property="modifiedAt" />
		<result column="BLACKLIST_USER_ID" property="userId" />
		<result column="BLACKLIST_CHAT_ID" property="chatId" />
	</resultMap>
</mapper>