<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.argon.dbaccess.dao.mysql.BlacklistDAO">

	<insert id="createBlacklist" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO argon.BLACKLIST (USER_ID, CHAT_ID)
			VALUES (
				#{user.id},
				#{chat.id}
			)
		]]>
	</insert>

	<sql id="getBlacklist">
		<![CDATA[
			SELECT
				BL.ID AS BLACKLIST_ID,
				BL.CREATED_AT AS BLACKLIST_CREATED_AT,
				BL.MODIFIED_AT AS BLACKLIST_MODIFIED_A,
				U.ID AS USER_ID,
				U.LAST_NAME AS USER_LAST_NAME,
				U.DOB AS USER_DOB,
				U.USERNAME AS USER_USERNAME,
				U.PASSWORD AS USER_PASSWORD,
				U.ENABLED AS USER_ENABLED,
				U.VERIFIED AS USER_VERIFIED,
				U.CREATED_AT AS USER_CREATED_AT,
				U.EMAIL AS USER_EMAIL,
				U.FIRST_NAME AS USER_FIRST_NAME,
				U.MODIFIED_AT AS USER_MODIFIED_AT,
				C.CREATED_AT AS CHAT_CHAT_CREATED_AT,
				C.MODIFIED_AT AS CHAT_CHAT_MODIFIED_AT,
				C.NAME AS CHAT_CHAT_NAME,
				C.PRIVATE AS CHAT_CHAT_PRIVATE_ENABLED,
				C.ID AS CHAT_CHAT_ID,
				ST.ID AS STATUS_ID,
				ST.STATUS AS STATUS_TYPE,
				ST.MODIFIED_AT AS STATUS_MODIFIED_AT,
				ST.CREATED_AT AS STATUS_CREATED_AT,
				A.ID AS AUTHORITY_ID,
				A.AUTHORITY AS AUTHORITY_TYPE,
				A.MODIFIED_AT AS AUTHORITY_MODIFIED_AT,
				A.CREATED_AT AS AUTHORITY_CREATED_AT,
				CHU.ID AS CHAT_USER_ID,
				CHU.LAST_NAME AS CHAT_USER_LAST_NAME,
				CHU.DOB AS CHAT_USER_DOB,
				CHU.USERNAME AS CHAT_USER_USERNAME,
				CHU.PASSWORD AS CHAT_USER_PASSWORD,
				CHU.ENABLED AS CHAT_USER_ENABLED,
				CHU.VERIFIED AS CHAT_USER_VERIFIED,
				CHU.CREATED_AT AS CHAT_USER_CREATED_AT,
				CHU.EMAIL AS CHAT_USER_EMAIL,
				CHU.FIRST_NAME AS CHAT_USER_FIRST_NAME,
				CHU.MODIFIED_AT AS CHAT_USER_MODIFIED_AT,ST.ID AS STATUS_ID,
				CST.STATUS AS CHAT_STATUS_TYPE,
				CST.MODIFIED_AT AS CHAT_STATUS_MODIFIED_AT,
				CST.CREATED_AT AS CHAT_STATUS_CREATED_AT,
				CA.ID AS CHAT_AUTHORITY_ID,
				CA.AUTHORITY AS CHAT_AUTHORITY_TYPE,
				CA.MODIFIED_AT AS CHAT_AUTHORITY_MODIFIED_AT,
				CA.CREATED_AT AS CHAT_AUTHORITY_CREATED_AT
			FROM argon.BLACKLIST BL
			LEFT JOIN argon.USERS U
			ON BL.USER_ID = U.ID
			LEFT JOIN argon.CHATS C
			ON BL.CHAT_ID = C.ID
			LEFT JOIN argon.CHAT_USERS CU
			ON CU.CHATS_ID = C.ID
			LEFT JOIN argon.USERS CHU
			ON CU.USERS_ID = CHU.ID
			LEFT JOIN argon.STATUSES ST
			ON U.STATUS_ID = ST.ID
			LEFT JOIN argon.USER_AUTHORITIES UA
			ON U.ID = UA.USER_ID
			LEFT JOIN argon.AUTHORITIES A
			ON UA.AUTHORITY_ID = A.ID
			LEFT JOIN argon.STATUSES CST
			ON CHU.STATUS_ID = CST.ID
			LEFT JOIN argon.USER_AUTHORITIES CUA
			ON CHU.ID = CUA.USER_ID
			LEFT JOIN argon.AUTHORITIES CA
			ON CUA.AUTHORITY_ID = CA.ID
		]]>
	</sql>

	<select id="getBlacklistById" resultMap = "BlacklistResultMap">
		<include refid="getBlacklist" />
		<![CDATA[
			WHERE BL.ID = #{id}
		]]>
	</select>

	<update id="updateBlacklist">
		<![CDATA[
			UPDATE argon.BLACKLIST B
			SET
				USER_ID = #{user.id},
				CHAT_ID = #{chat.id}
			WHERE B.ID = #{id}
		]]>
	</update>

	<sql id="deleteBlacklist">
		<![CDATA[
			DELETE
			FROM argon.BLACKLIST 
		]]>
	</sql>

	<delete id="deleteBlacklistById">
		<include refid="deleteBlacklist" />
		<![CDATA[
			WHERE BLACKLIST.ID = #{id}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.argon.models.db.Blacklist" id="BlacklistResultMap" autoMapping="true">
		<id column="BLACKLIST_ID" property="id" />
		<result column="BLACKLIST_CREATED_AT" property="createdAt" />
		<result column="BLACKLIST_MODIFIED_AT" property="modifiedAt" />
		<association property="user" javaType="com.qaprosoft.argon.models.db.User" 
			resultMap="com.qaprosoft.argon.dbaccess.dao.mysql.UserDAO.UserResultMap" />
		<association property="chat" javaType="com.qaprosoft.argon.models.db.Chat" 
			resultMap="com.qaprosoft.argon.dbaccess.dao.mysql.ChatDAO.ChatResultMap" columnPrefix="CHAT_"/>
	</resultMap>
</mapper>