<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.argon.dbaccess.dao.mysql.ChatDAO">

	<insert id="createChat" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO argon.CHATS (NAME, PRIVATE)
			VALUES (
				#{name},
				#{privateEnabled}
			)
		]]>
	</insert>

	<sql id="getChat">
		<![CDATA[
			SELECT
				C.ID AS CHAT_ID,
				C.NAME AS CHAT_NAME,
				C.PRIVATE AS CHAT_PRIVATE_ENABLED,
				C.MODIFIED_AT AS CHAT_MODIFIED_AT,
				C.CREATED_AT AS CHAT_CREATED_AT,
				U.ID AS USER_ID,
				U.LAST_NAME AS USER_LAST_NAME,
				U.DOB AS USER_DOB,
				U.USERNAME AS USER_USERNAME,
				U.PASSWORD AS USER_PASSWORD,
				U.ENABLED AS USER_ENABLED,
				U.VERIFIED AS USER_VERIFIED,
				U.CREATED_AT AS USER_CREATED_AT,
				U.EMAIL AS USER_EMAIL,
				U.FIRST_NAME AS USER_FIRST_NAME,
				U.MODIFIED_AT AS USER_MODIFIED_AT,
				A.ID AS AUTHORITY_ID,
				A.AUTHORITY AS AUTHORITY_TYPE,
				A.MODIFIED_AT AS AUTHORITY_MODIFIED_AT,
				A.CREATED_AT AS AUTHORITY_CREATED_AT,
				ST.MODIFIED_AT AS STATUS_MODIFIED_AT,
				ST.CREATED_AT AS STATUS_CREATED_AT,
				ST.ID AS STATUS_ID,
				ST.STATUS AS STATUS_TYPE
			FROM argon.CHATS C
			LEFT JOIN argon.CHAT_USERS CU
			ON C.ID=CU.CHATS_ID
			LEFT JOIN argon.USERS U
			ON CU.USERS_ID=U.ID
			LEFT JOIN argon.USER_AUTHORITIES UA
			ON U.ID = UA.USER_ID
			LEFT JOIN argon.AUTHORITIES A
			ON UA.AUTHORITY_ID = A.ID
			LEFT JOIN argon.STATUSES ST
			ON U.STATUS_ID = ST.ID
		]]>
	</sql>

	<select id="getChatById" resultMap = "ChatResultMap">
		<include refid="getChat" />
		<![CDATA[
			WHERE C.ID = #{id}
		]]>
	</select>

	<select id="getChatByName" resultMap = "ChatResultMap">
		<include refid="getChat" />
		<![CDATA[
			WHERE C.NAME = #{name}
		]]>
	</select>

	<update id="updateChat">
		<![CDATA[
			UPDATE argon.CHATS C
			SET
				NAME = #{name},
				PRIVATE = #{privateEnabled}
			WHERE C.ID = #{id}
		]]>
	</update>

	<sql id="deleteChat">
		<![CDATA[
			DELETE
			FROM argon.CHATS 
		]]>
	</sql>

	<delete id="deleteChatByName">
		<include refid="deleteChat" />
		<![CDATA[
			WHERE CHATS.NAME = #{name}
		]]>
	</delete>

	<delete id="deleteChatById">
		<include refid="deleteChat" />
		<![CDATA[
			WHERE CHATS.ID = #{id}
		]]>
	</delete>

	<insert id="addUserToChat">
		<![CDATA[
			INSERT INTO argon.CHAT_USERS (USERS_ID, CHATS_ID)
			VALUES (
				#{userId},
				#{chatId}
			)
		]]>
	</insert>

	<delete id="removeUserFromChat">
	<![CDATA[
			DELETE
			FROM argon.CHAT_USERS
			WHERE USERS_ID = #{userId}
			AND CHATS_ID = #{chatId}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.argon.models.db.Chat" id="ChatResultMap" autoMapping="true">
		<id column="CHAT_ID" property="id" />
		<result column="CHAT_NAME" property="name" />
		<result column="CHAT_PRIVATE_ENABLED" property="privateEnabled" />
		<result column="CHAT_MODIFIED_AT" property="modifiedAt" />
		<result column="CHAT_CREATED_AT" property="createdAt" />
		<collection property="users" javaType="java.util.List" ofType="com.qaprosoft.argon.models.db.User" 
			resultMap="com.qaprosoft.argon.dbaccess.dao.mysql.UserDAO.UserResultMap" />
	</resultMap>
</mapper>