<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.argon.dbaccess.dao.mysql.ConfirmationDAO">

	<insert id="createConfirmation" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO argon.CONFIRMATIONS (ATTEMPTS, LINK, USER_ID)
			VALUES (
				#{attempts},
				#{link},
				#{userId}
			)
		]]>
	</insert>

	<sql id="getConfirmation">
		<![CDATA[
			SELECT
				C.ID AS CONFIRMATION_ID,
				C.CREATED_AT AS CONFIRMATION_CREATED_AT,
				C.ATTEMPTS AS CONFIRMATION_ATTEMPTS,
				C.MODIFIED_AT AS CONFIRMATION_MODIFIED_AT,
				C.LINK AS CONFIRMATION_LINK,
				C.USER_ID AS CONFIRMATION_USER_ID
			FROM argon.CONFIRMATIONS C
		]]>
	</sql>

	<select id="getConfirmationListByLink" resultMap = "ConfirmationResultMap">
		<include refid="getConfirmation" />
		<![CDATA[
			WHERE C.LINK = #{link}
		]]>
	</select>

	<select id="getConfirmationById" resultMap = "ConfirmationResultMap">
		<include refid="getConfirmation" />
		<![CDATA[
			WHERE C.ID = #{id}
		]]>
	</select>

	<select id="getConfirmationByUserId" resultMap = "ConfirmationResultMap">
		<include refid="getConfirmation" />
		<![CDATA[
			WHERE C.USER_ID = #{userId}
		]]>
	</select>

	<update id="updateConfirmation">
		<![CDATA[
			UPDATE argon.CONFIRMATIONS C
			SET
				ATTEMPTS = #{attempts},
				LINK = #{link},
				USER_ID = #{userId}
			WHERE C.ID = #{id}
		]]>
	</update>

	<sql id="deleteConfirmation">
		<![CDATA[
			DELETE
			FROM argon.CONFIRMATIONS 
		]]>
	</sql>

	<delete id="deleteConfirmationById">
		<include refid="deleteConfirmation" />
		<![CDATA[
			WHERE CONFIRMATIONS.ID = #{id}
		]]>
	</delete>

	<delete id="deleteConfirmationByLink">
		<include refid="deleteConfirmation" />
		<![CDATA[
			WHERE CONFIRMATIONS.LINK = #{link}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.argon.models.db.Confirmation" id="ConfirmationResultMap" autoMapping="true">
		<id column="CONFIRMATION_ID" property="id" />
		<result column="CONFIRMATION_CREATED_AT" property="createdAt" />
		<result column="CONFIRMATION_ATTEMPTS" property="attempts" />
		<result column="CONFIRMATION_MODIFIED_AT" property="modifiedAt" />
		<result column="CONFIRMATION_LINK" property="link" />
		<result column="CONFIRMATION_USER_ID" property="userId" />
	</resultMap>
</mapper>