<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.argon.dbaccess.dao.mysql.MessageDAO">

	<insert id="createMessage" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO argon.MESSAGES (BODY, USER_ID, CHAT_ID, ATTACHMENT, IS_READ)
			VALUES(
				#{body},
				#{user.id},
				#{chat.id},
				#{attachment},
				#{isRead}
			)
		]]>
	</insert>

	<sql id="getMessage">
		<![CDATA[
			SELECT
				M.ID AS MESSAGE_ID,
				M.ATTACHMENT AS MESSAGE_ATTACHMENT,
				M.CREATED_AT AS MESSAGE_CREATED_AT,
				M.BODY AS MESSAGE_BODY,
				M.MODIFIED_AT AS MESSAGE_MODIFIED_AT,
				M.IS_READ AS MESSAGE_IS_READ,
				U.ID AS USER_ID,
				U.LAST_NAME AS USER_LAST_NAME,
				U.DOB AS USER_DOB,
				U.USERNAME AS USER_USERNAME,
				U.PASSWORD AS USER_PASSWORD,
				U.ENABLED AS USER_ENABLED,
				U.VERIFIED AS USER_VERIFIED,
				U.CREATED_AT AS USER_CREATED_AT,
				U.EMAIL AS USER_EMAIL,
				U.FIRST_NAME AS USER_FIRST_NAME,
				U.MODIFIED_AT AS USER_MODIFIED_AT,
				C.CREATED_AT AS CHAT_CREATED_AT,
				C.MODIFIED_AT AS CHAT_MODIFIED_AT,
				C.NAME AS CHAT_NAME,
				C.ID AS CHAT_ID,
				ST.ID AS STATUS_ID,
				ST.STATUS AS STATUS_TYPE,
				ST.MODIFIED_AT AS STATUS_MODIFIED_AT,
				ST.CREATED_AT AS STATUS_CREATED_AT,
				A.ID AS AUTHORITY_ID,
				A.AUTHORITY AS AUTHORITY_TYPE,
				A.MODIFIED_AT AS AUTHORITY_MODIFIED_AT,
				A.CREATED_AT AS AUTHORITY_CREATED_AT
			FROM argon.MESSAGES M
			LEFT JOIN argon.USERS U
			ON M.USER_ID = U.ID
			LEFT JOIN argon.CHATS C
			ON M.CHAT_ID = C.ID
			LEFT JOIN argon.STATUSES ST
			ON U.STATUS_ID = ST.ID
			LEFT JOIN argon.USER_AUTHORITIES UA
			ON U.ID = UA.USER_ID
			LEFT JOIN argon.AUTHORITIES A
			ON UA.AUTHORITY_ID = A.ID
		]]>
	</sql>

	<select id="getMessageById" resultMap = "MessageResultMap">
		<include refid="getMessage" />
		<![CDATA[
			WHERE M.ID = #{id}
		]]>
	</select>

	<update id="updateMessage">
		<![CDATA[
			UPDATE argon.MESSAGES M
			SET
				ATTACHMENT = #{attachment},
				BODY = #{body},
				IS_READ = #{isRead},
				USER_ID = #{user.id},
				CHAT_ID = #{chat.id}
			WHERE M.ID = #{id}
		]]>
	</update>

	<sql id="deleteMessage">
		<![CDATA[
			DELETE
			FROM argon.MESSAGES 
		]]>
	</sql>

	<delete id="deleteMessageById">
		<include refid="deleteMessage" />
		<![CDATA[
			WHERE MESSAGES.ID = #{id}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.argon.models.db.Message" id="MessageResultMap" autoMapping="true">
		<id column="MESSAGE_ID" property="id" />
		<result column="MESSAGE_ATTACHMENT" property="attachment" />
		<result column="MESSAGE_CREATED_AT" property="createdAt" />
		<result column="MESSAGE_BODY" property="body" />
		<result column="MESSAGE_MODIFIED_AT" property="modifiedAt" />
		<result column="MESSAGE_IS_READ" property="isRead" />
		<association property="user" javaType="com.qaprosoft.argon.models.db.User" 
			resultMap="com.qaprosoft.argon.dbaccess.dao.mysql.UserDAO.UserResultMap" />
		<association property="chat" javaType="com.qaprosoft.argon.models.db.Chat" 
			resultMap="com.qaprosoft.argon.dbaccess.dao.mysql.ChatDAO.ChatResultMap" />
	</resultMap>
</mapper>