<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.argon.dbaccess.dao.mysql.MessageDAO">

	<insert id="createMessage" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO argon.MESSAGES (BODY, USER_ID, CHAT_ID, ATTACHMENT, IS_READ)
			VALUES(
				#{body},
				#{userId},
				#{chatId},
				#{attachment},
				#{isRead}
			)
		]]>
	</insert>

	<sql id="getMessage">
		<![CDATA[
			SELECT
				M.ID AS MESSAGE_ID,
				M.ATTACHMENT AS MESSAGE_ATTACHMENT,
				M.CREATED_AT AS MESSAGE_CREATED_AT,
				M.BODY AS MESSAGE_BODY,
				M.MODIFIED_AT AS MESSAGE_MODIFIED_AT,
				M.IS_READ AS MESSAGE_IS_READ,
				M.USER_ID AS MESSAGE_USER_ID,
				M.CHAT_ID AS MESSAGE_CHAT_ID
			FROM argon.MESSAGES M
		]]>
	</sql>

	<select id="getMessageById" resultMap = "MessageResultMap">
		<include refid="getMessage" />
		<![CDATA[
			WHERE M.ID = #{id}
		]]>
	</select>

	<update id="updateMessage">
		<![CDATA[
			UPDATE argon.MESSAGES M
			SET
				ATTACHMENT = #{attachment},
				BODY = #{body},
				IS_READ = #{isRead},
				USER_ID = #{userId},
				CHAT_ID = #{chatId}
			WHERE M.ID = #{id}
		]]>
	</update>

	<sql id="deleteMessage">
		<![CDATA[
			DELETE
			FROM argon.MESSAGES 
		]]>
	</sql>

	<delete id="deleteMessageById">
		<include refid="deleteMessage" />
		<![CDATA[
			WHERE MESSAGES.ID = #{id}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.argon.models.db.Message" id="MessageResultMap" autoMapping="true">
		<id column="MESSAGE_ID" property="id" />
		<result column="MESSAGE_ATTACHMENT" property="attachment" />
		<result column="MESSAGE_CREATED_AT" property="createdAt" />
		<result column="MESSAGE_BODY" property="body" />
		<result column="MESSAGE_MODIFIED_AT" property="modifiedAt" />
		<result column="MESSAGE_IS_READ" property="isRead" />
		<result column="MESSAGE_USER_ID" property="userId" />
		<result column="MESSAGE_CHAT_ID" property="chatId" />
	</resultMap>
</mapper>