<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.argon.dbaccess.dao.mysql.ResetPasswordDAO">

	<insert id="createResetPassword" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO argon.RESET_PASSWORD (TOKEN, NEW_PASSWORD, USERS_ID)
			VALUES (
				#{token},
				#{newPassword},
				#{userId}
			)
		]]>
	</insert>

	<sql id="getResetPassword">
		<![CDATA[
			SELECT
				RP.ID AS RESET_PASSWORD_ID,
				RP.CREATED_AT AS RESET_PASSWORD_CREATED_AT,
				RP.MODIFIED_AT AS RESET_PASSWORD_MODIFIED_AT,
				RP.TOKEN AS RESET_PASSWORD_TOKEN,
				RP.NEW_PASSWORD AS RESET_PASSWORD_NEW_PASSWORD,
				RP.USERS_ID AS RESET_PASSWORD_USERS_ID
			FROM argon.RESET_PASSWORD RP
		]]>
	</sql>


	<select id="getResetPasswordById" resultMap = "ResetPasswordResultMap">
		<include refid="getResetPassword" />
		<![CDATA[
			WHERE RP.ID = #{id}
		]]>
	</select>

	<select id="getResetPasswordByUserId" resultMap = "ResetPasswordResultMap">
		<include refid="getResetPassword" />
		<![CDATA[
			WHERE RP.USERS_ID = #{userId}
		]]>
	</select>

	<update id="updateResetPassword">
		<![CDATA[
			UPDATE argon.RESET_PASSWORD RP
			SET
				TOKEN = #{token},
				NEW_PASSWORD = #{newPassword},
				USERS_ID = #{userId}
			WHERE RP.ID = #{id}
		]]>
	</update>

	<sql id="deleteResetPassword">
		<![CDATA[
			DELETE
			FROM argon.RESET_PASSWORD
		]]>
	</sql>

	<delete id="deleteResetPasswordById">
		<include refid="deleteResetPassword" />
		<![CDATA[
			WHERE RESET_PASSWORD.ID = #{id}
		]]>
	</delete>

	<delete id="deleteResetPasswordByToken">
		<include refid="deleteResetPassword" />
		<![CDATA[
			WHERE RESET_PASSWORD.TOKEN = #{token}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.argon.models.db.ResetPassword" id="ResetPasswordResultMap" autoMapping="true">
		<id column="RESET_PASSWORD_ID" property="id" />
		<result column="RESET_PASSWORD_CREATED_AT" property="createdAt" />
		<result column="CONFIRMATION_MODIFIED_AT" property="modifiedAt" />
		<result column="RESET_PASSWORD_TOKEN" property="token" />
		<result column="RESET_PASSWORD_NEW_PASSWORD" property="newPassword" />
		<result column="RESET_PASSWORD_USERS_ID" property="userId" />
	</resultMap>
</mapper>